  .star-rating {
      direction: rtl;
      display: inline-block;
      cursor: pointer;
  }

  .star-rating input {
      display: none;
  }

  .star-rating label {
      color: #ccc;
      font-size: 20px;
      padding: 0 2px;
      cursor: pointer;
      transition: all 0.2s ease;
  }

  .star-rating label:hover,
  .star-rating label:hover~label,
  .star-rating input:checked~label {
      color: #ffc107;
  }

  span.checked {
      color: #ffc107;
  }